{% extends "neocycle/layout.html" %}

{% block body %}

<body>
<h1 class="about-heading">About Us</h1>

<div class="about-container">

  <div class="explanation-aboutus">
    <h2>Our Inspiration and Foundation</h2>
    <p>Neocycle is an upcycling store focused on delivering sustainable products to build a cleaner world. Our journey began with a clear vision - to make a positive impact on the world while offering quality products. The idea stemmed from a deep concern for the environment and a burning desire to make a difference. Our founder, Pedro Daniel, had a moment of epiphany witnessing the damage caused by plastic waste in our community. This experience inspired the creation of Neocycle, where we transform recyclable materials into functional and aesthetically pleasing products.</p>
  </div>

  <img class="about-image" src="https://ultima.storytale.io/img/eco-life/1x/04.webp">

  <div class="about-team">
    <h2>Our Team and Expertise</h2>
    <p>Behind every product is a passionate and committed team. With a unique combination of experience in sustainability, design, and business, our founding team leads the way towards a greener future. Pedro Daniel brings years of experience in environmental management, while [Other Founder's Name] adds expertise in design and innovation. Together, they form a dedicated team driving positive change.</p>
  </div>

  <img class="about-image" src="https://ultima.storytale.io/img/eco-life/1x/16.webp">

  <div class="about-mission">
    <h2>Our Mission and Vision</h2>
    <p>At Neocycle, our mission is clear: to reduce waste and promote a more sustainable lifestyle. We are committed to creating products that not only meet the needs of our customers but also protect our planet for future generations. Our vision is a world where sustainability is the norm and where every choice contributes to a greener future.

      Every step we take is a step towards this vision. From carefully selecting our materials to partnering with local recycling organizations, we are constantly seeking ways to improve and innovate.
      
      Join us on this journey towards a more sustainable world!
      
      With these four components, we hope you have a clear understanding of who we are and what we stand for. At Neocycle, we are committed to making a difference - one recyclable product at a time.</p>
  </div>
</div>
</body>

{% endblock %}
